<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


    <providers resource="dbconfig/providers.config"/>

    <!--<context id="iwell" default="true">
    <database>
      <provider name="sqlServer2005" />
      <dataSource name="iwell" default="true"
           connectionString="data source=.\SQLSL;database=iwell_hf;
       user id= sa ;password= sa ;"/>

    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <properties>
      <property key="ibatis_key_clob" value=""/> 

      <property key="ibatis_key_plus" value="+"/>

      <property key="ibatis_key_todate" value=""/>

      <property key="ibatis_key_todate_end" value=""/>
      
      <property key="ibatis_key_dual" value=""/>
    </properties>
  </context>-->

    <context id="iwell" default="true">
        <database>
            <provider  name="oracle10.1" />
            <dataSource name="IWELL" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.0.54)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = tship)));User ID=zlhip;Password=HIP;"/>
        </database>
        <daoSessionHandler id="SqlMap">
            <property name="resource" value="dbconfig/SqlMap.config" />
        </daoSessionHandler>
        <properties>
            <property key="ibatis_key_clob" value=":clob"/>

            <property key="ibatis_key_plus" value="||"/>

            <property key="ibatis_key_todate" value="to_date("/>

            <property key="ibatis_key_todate_end" value=",'yyyy-mm-dd HH24:mi:ss')"/>

            <property key="ibatis_key_dual" value=" from dual"/>

        </properties>
    </context>


</daoConfig>